extends layout

block content
  div
    #top.container-fluid
      .row
        .col-3
          #weather.txt-center
            img.icon(src="./img/sunny.png")
            span 36&deg;C
        .col-6
          #title.txt-center
            h1 TODO LIST
        .col-3
          #login-info.txt-center
            if user
              img.headshot
              span #{user.name} | 登出
            else
              span 登入
    #content.container-fluid
      .row
        .col-md-3
          #left-block
        .col-md-9
          #right-block
            #additem.txt-center
              form(method="POST", action="/items")
                input.input-control(type="date", name="itemDate")
                input.input-control(type="text", name="itemText", placeholder="請輸入待辦事項")
            hr
            each items, date in LIST
              .date-todo
                h2= date
                .row
                  .col-md-2
                    h3 DOING
                  .col-md-10
                    ul
                      //- show doing item
                      each item in items.doing
                        li
                          .item
                            input(type="checkbox")
                            span= item.text
                            input.close(type="button", value="x")
                            input(type="hidden", value=item.id)
              hr