@media screen and (min-width: 769px) and (max-width: 992px) {
  #top {
    span {
      font-size: 23px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  #top {
    line-height: 0px;

    span {
      font-size: 20px !important;
      margin-top: 15px;
    }

    #weather,
    #login-info {
      width: 100%;
      display: inline-grid;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    #weather {
      margin-top: 10px;
    }

    #login-info {
      margin-top: 15px;
    }
  }
}
